<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提分上名校，就选优e学</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <!-- <link rel="stylesheet" href="css/animate.min.css"> -->
    <link rel="stylesheet" href="../../static/css/swiper.min.css">
    <link rel="stylesheet" href="../../static/css/flexible.css">
    <link rel="stylesheet" href="../../static/css/sign_up.css">
    <script src="../../static/js/flexible.js"></script>
    <script>
            var _mtac = {};
            (function() {
                var mta = document.createElement("script");
                mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
                mta.setAttribute("name", "MTAH5");
                mta.setAttribute("sid", "500632077");
      
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(mta, s);
            })();
      </script>
</head>
<body>
    <!-- Swiper -->
    <div class="boss">
            <div class="big_swiper">
                    <div class="flag">
                        <div class="swiper-slide one">
                            <div class="bgshow">
                                 <div class="usermsg">
                                    <input type="text" name="name" placeholder="姓名" class="name">
                                    <input type="text" name="phonenumber" placeholder="手机号" class="phonenumber">
                                    <select name="grade" id="" placeholder="年级" class="grade" style="border:1px solid #adadad;border-radius: 8px;">
                                        <option value="">年级</option>
                                    </select>
                                    <select name="subject" id="" placeholder="学科" class="subject" style="border:1px solid #adadad;border-radius: 8px;">
                                        <option value="">学科</option>
                                    </select>
                                 </div>
                                 <button class="freeshop" id="freeget">
                                        0元领取
                                 </button>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="title">严格的录用标准 3%录取率</div>
                            <p class="s_title">5层筛选 万里挑一的好老师</p>
                            <ul class="list">
                                <li>复杂题型解决 备课与教案制作能力</li>
                                <li>师生互动形态的设计 试卷分析能力</li>
                                <li>精准进行错因分析能力</li>
                                <li>得出解决方案的能力</li>
                                <li>因材施教能力</li>
                            </ul>
                            <div class="small">
                                    <div class="swiper-container small_swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="../../static/img/wll.png" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="../../static/img/ldm.png" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="../../static/img/psy.png" alt="">
                                                </div>
                                            </div>
                                            <!-- 如果需要分页器 -->
                                            <div class="swiper-pagination nav"></div>
                                    </div>
                            </div>
                            <button class="freeget">
                                0元领取
                            </button>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide3">
                            </div>
                            <div class="boxlist">
                                <ul>
                                    <li>
                                        <div class="leftshow">
                                            <img src="../../static/img/offline1v1.png" alt="">
                                        </div>
                                        <div class="rightshow">
                                            <div class="font">线下一对一</div>
                                            <p>面对面教学，孩子学的更系统、专业、深刻，与老师近距离接触，孩子注意力更集中。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="leftshow">
                                            <img src="../../static/img/online1v1.png" alt="">
                                        </div>
                                        <div class="rightshow">
                                            <div class="font">线上一对一</div>
                                            <p>打破地域限制，在家也可享受北上广名师教学，足不出户，全国名师教你学。</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="leftshow">
                                            <img src="../../static/img/dbteacher.png" alt="">
                                        </div>
                                        <div class="rightshow">
                                            <div class="font">双师课堂</div>
                                            <p>一线教师资源，身临其境的视频互动。 </p>
                                        </div>
                                    </li>
                                </ul>
                                <button class="freeget">
                                        0元领取
                                </button>
                            </div>
                        </div>
                        <div class="swiper-slide">
                                <div class="bgfont"></div>
                                <div class="title_lits">
                                    <p>以最新政策为依据 及时洞察教育改革</p>
                                    <p>志愿填报一对一规划 升学关键指导</p>
                                </div>
                                <div class="bord_both">
                                    <div class="zbord"></div>
                                    <span>获得奖项</span>
                                    <div class="ybord"></div>
                                </div>
                                <div class="show_ry">
                                    <ul>
                                        <li>
                                            <img src="../../static/img/bian2.jpg" alt="">
                                            <p>在2017年 3月，优e学品牌荣获“2017年度十大课外辅导品牌”</p>
                                        </li>
                                        <li>
                                            <img src="../../static/img/bian1.jpg" alt="">
                                            <p>2017年5月，优e学品牌被中国管理科学研究院授予“全国青少年课外优秀品牌机构”。</p>
                                        </li>
                                        <li>
                                            <img src="../../static/img/bian3.jpg" alt="">
                                            <p>《中国商会》在杂志评选优e学品牌为“中国品牌影响力课外辅导机构”</p>
                                        </li>
                                        <li>
                                            <img src="../../static/img/bian4.jpg" alt="">
                                            <p>2017年4月，中国管理科学研究院文化传播研究所授予优e学品牌“最具投资价值培训教育品牌10强”称号。</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="di_bg">

                                </div>
                        </div>
                    </div>
            </div>
    </div>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/swiper.min.js"></script>
    <!-- <script src="../../static/js/js.cookie.min.js"></script> -->
    <!-- <script src="../../static/js/login.js"></script> -->
    <script src="../../static/js/freeshop.js"></script>
</body>
</html>